<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="icon" href="/images/logo-icon.png" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/animations.css" />
    <link rel="stylesheet" href="/css/page-landing.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="page-landing">
      <div id="container">
        <!-- formato svg é escrito em HTML, facilmente adaptável a diferentes tamanhos de tela
         e com qualidade muito boa
        -->
        <header>
          <img
            class="animate-up"
            id="logo"
            src="/images/logo.svg"
            alt="Logomarca de Happy"
          />

          <div class="location animate-up">
            <strong> Santa Maria </strong>
            <p>Rio Grande do Sul</p>
          </div>
        </header>

        <main>
          <h1 class="animate-up">Leve felicidade para o mundo</h1>

          <section class="visit">
            <p class="animate-up">
              Visite orfanatos e mude o dia de muitas crianças
            </p>
            <!-- title é um atributo global(todas as tags) que mostra a descição no hover do elemento-->
            <a class="animate-up" href="/orphanages" title="Visite orfanatos">
              <img src="/images/arrow.svg" alt="Ir para o mapa" />
            </a>
          </section>
        </main>
      </div>
      <!--container-->
    </div>
    <!--page-landing-->
  </body>
</html>

<!--
    HTML
    HyperText
        hipertexto ---- link

    Markup
        marcação ---- <tags>
    
    Language
        linguagem ---- sintaxe
-->
